@font-face {
  font-family: Orator;
  src: url(../fonts/orator.otf);
}

@font-face {
  font-family: DidotLTStdRoman;
  src: url(../fonts/DidotLTStd-Roman.otf);
}

@font-face {
  font-family: SegoeUI;
  src: url(../fonts/SegoeUI.ttf);
}

@font-face {
  font-family: AquireLight;
  src: url(../fonts/AquireLight.otf);
}

@font-face {
  font-family: Aquire;
  src: url(../fonts/Aquire.otf);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

* {
  /* font-family: DidotLTStdRoman, 'Times New Roman', Times, serif; */
  font-family: Orator, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 4px 0;
  font-weight: unset;
}

input {
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c6c6c6;
  line-height: 3;
  background-color: transparent;
}

textarea {
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c6c6c6;
  background-color: transparent;
  resize: none;
}

textarea:focus, input:focus {
  outline: none;
  border-bottom: 2px solid #1e1e1e;
}

.btn {
  box-sizing: border-box;
  background-color: #1e1e1e;
  color: #fbfbf9;
  border: 1px solid #1e1e1e;
  border-radius: 4px;
  line-height: 1.5;
  cursor: pointer;
  font-size: 16px;
  padding: 6px 12px;
  min-width: 166px;
}

.btn:hover {
  background-color: #383838;
}

.btn--link {
  margin-right: 18px;
  border: 1px solid transparent;
  box-sizing: border-box;
  background: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 0;
}

.btn--link:hover {
  border-bottom: 1px solid #1e1e1e;
}

.nav-link.is-active {
  border-bottom: 1px solid #1e1e1e;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
  margin-bottom: 24px;
}

.form-group label {
  font-size: 13px;
}

.form-element {
  margin-top: 12px;
  width: 100%;
}

.container {
  position: relative;
  height: 100vh;
  background-color: #fbfbf9;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  margin-left: 20px;
  font-family: Aquire, Orator, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  cursor: pointer;
}

.nav {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: calc(100% - 60px);
}

.section {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.section.is-disabled {
  display: none;
}

.home-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12%;
  width: 100%;
  text-align: center;
  animation: fadeIn 1s;
}

.about-section-content {
  margin-top: 36px;
  width: 70%;
  animation: fadeIn 1s;
}

.contact-section-content {
  margin-top: 36px;
  margin-right: 20px;
  width: 70%;
  animation: fadeIn 1s;
}

.contact-btn {
  margin-top: 36px;
  animation: fadeIn 3s;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
}